# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'h:\\VScode\\March Group\\March_Team_Project\\Not_to_be_shared_to_repo'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'h:\\VScode\\March Group\\March_Team_Project'

# Section 1

Section 1 content

In [4]:
# load csv files from Not_to_be_shared_to_repo folder
import pandas as pd
# apply the following column names to the file, Station_ID, Date, DataValue, MFlag, QFlag, SFlag, ObsTime
weather_df = pd.read_csv('Not_to_be_shared_to_repo/2000.csv.gz', header=None)
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34973736 entries, 0 to 34973735
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       int64
 2   2       object
 3   3       int64
 4   4       object
 5   5       object
 6   6       object
 7   7       float64
dtypes: float64(1), int64(2), object(5)
memory usage: 2.1+ GB

YEAR/MONTH/DAY = 8 character date in YYYYMMDD format (e.g. 19860529 = May 29, 1986)
ELEMENT = 4 character indicator of element type 
DATA VALUE = 5 character data value for ELEMENT 
M-FLAG = 1 character Measurement Flag 
Q-FLAG = 1 character Quality Flag 
S-FLAG = 1 character Source Flag 
OBS-TIME = 4-character time of observation in hour-minute format (i.e. 0700 =7:00 am)

In [5]:
weather_df.columns = ["Station_ID", "Date", "Element","DataValue", "MFlag", "QFlag", "SFlag", "ObsTime"]

In [6]:
# set the column names
weather_df.head()

    Station_ID      Date Element  DataValue MFlag QFlag SFlag  ObsTime
0  AE000041196  20000101    TMAX        278   NaN   NaN     I      NaN
1  AE000041196  20000101    TMIN        121   NaN   NaN     I      NaN
2  AE000041196  20000101    TAVG        186     H   NaN     S      NaN
3  AEM00041194  20000101    TMAX        251   NaN   NaN     S      NaN
4  AEM00041194  20000101    TMIN        135   NaN   NaN     S      NaN

In [7]:
# load the ghcnd-stations.txt file - fixed width file no header
stations_df = pd.read_fwf('Source_Data/ghcnd-stations.txt', header=None)
stations_df.columns = [ "StationId","Latitude", "Longitude", "Elevation", "Name", "GSN_Flag", "HCN_CRN_Flag", "WMO_ID"]
# Drop GSN_Flag, HCN_CRN_Flag, WMO_ID columns
stations_df.drop(["GSN_Flag", "HCN_CRN_Flag", "WMO_ID"], axis=1, inplace=True)

In [ ]:
stations_df

          StationId  Latitude  Longitude  Elevation                   Name
0       ACW00011604   17.1167   -61.7833       10.1  ST JOHNS COOLIDGE FLD
1       ACW00011647   17.1333   -61.7833       19.2               ST JOHNS
2       AE000041196   25.3330    55.5170       34.0    SHARJAH INTER. AIRP
3       AEM00041194   25.2550    55.3640       10.4             DUBAI INTL
4       AEM00041217   24.4330    54.6510       26.8         ABU DHABI INTL
...             ...       ...        ...        ...                    ...
129652  ZI000067969   21.0500    29.3670      861.0         WEST NICHOLSON
129653  ZI000067975   20.0670    30.8670     1095.0               MASVINGO
129654  ZI000067977   21.0170    31.5830      430.0          BUFFALO RANGE
129655  ZI000067983   20.2000    32.6160     1132.0               CHIPINGE
129656  ZI000067991   22.2170    30.0000      457.0             BEITBRIDGE

[129657 rows x 5 columns]

In [9]:
# load ghcnd-countries.txt file - fixed width file no header
countries_df = pd.read_fwf('Source_Data/ghcnd-countries.txt', header=None)
countries_df.columns = ["CountryCode", "Name"]

# Load ghcnd-states.txt file - fixed width file no header
states_df = pd.read_fwf('Source_Data/ghcnd-states.txt', header=None)
states_df.columns = ["StateCode", "Name"]

In [10]:
print(countries_df.head())
print(states_df.head())

  CountryCode                  Name
0          AC   Antigua and Barbuda
1          AE  United Arab Emirates
2          AF           Afghanistan
3          AG               Algeria
4          AJ            Azerbaijan
  StateCode            Name
0        AB         ALBERTA
1        AK          ALASKA
2        AL         ALABAMA
3        AR        ARKANSAS
4        AS  AMERICAN SAMOA

---

In [11]:
# add column to weather_df for the country code = set it to the first 2 characters of the Station_ID
weather_df['CountryCode'] = weather_df['Station_ID'].str[:2]
weather_df.head()
# drop weather_df MFlag, QFlag, SFlag, ObsTime columns
weather_df.drop(["MFlag", "QFlag", "SFlag", "ObsTime"], axis=1, inplace=True)

In [12]:
# count of rows in weather_df by country
print(weather_df['CountryCode'].value_counts())
# deduplicate the weather_df by station_id, element, date, taking the first record if multiple records exist
weather_df = weather_df.drop_duplicates(subset=["Station_ID", "Element", "Date"], keep='first')
# count of rows in weather_df by country
print(weather_df['CountryCode'].value_counts())

CountryCode
US    20092001
CA     2982729
AS     2916911
MX     2783511
RS      936333
        ...
SX         188
RW         115
ZA          48
EK           3
IO           1
Name: count, Length: 196, dtype: int64
CountryCode
US    20092001
CA     2982729
AS     2916911
MX     2783511
RS      936333
        ...
SX         188
RW         115
ZA          48
EK           3
IO           1
Name: count, Length: 196, dtype: int64

In [13]:
# seperate the countryid out of the stations_df based on 1st 2 chracters of the StationId
stations_df['CountryCode'] = stations_df['StationId'].str[:2]
# count stations by country
print(stations_df['CountryCode'].value_counts())

CountryCode
US    75846
AS    17088
CA     9269
BR     5989
MX     5249
      ...
RW        1
SB        1
SE        1
CB        1
NN        1
Name: count, Length: 219, dtype: int64

In [14]:
# check that country code is only country code
# count of rows where CountryCode in stations_df is not in countries_df
print(stations_df[~stations_df['CountryCode'].isin(countries_df['CountryCode'])].shape[0])
# count of rows in weather_df where CountryCode is not in countries_df
print(weather_df[~weather_df['CountryCode'].isin(countries_df['CountryCode'])].shape[0])
# count rows in stations_df
print(stations_df.shape[0])
# count rows in weather_df
print(weather_df.shape[0])
# filter stations_df to only include rows where CountryCode ="US"
stations_df = stations_df[stations_df['CountryCode']=="US"]
# filter weather_df to only include rows where CountryCode ="US"
weather_df = weather_df[weather_df['CountryCode']=="US"]
# count rows in stations_df
print(stations_df.shape[0])
# count rows in weather_df
print(weather_df.shape[0])
# count of Elements in weather_df
print(weather_df['Element'].value_counts())
# list of elements with at data in at least 90% of dates and stations
elements = weather_df['Element'].value_counts()
elements = elements[elements > 0.9 * 365 * 10]
elements = elements.index.tolist()
print(elements)

0
0
129657
34973736
75846
20092001
Element
PRCP    3227238
SNOW    2799342
SNWD    2763856
TMAX    2658783
TMIN    2657783
         ...
MDSF         95
DASF         87
WV07         74
WT10         72
WV18          4
Name: count, Length: 87, dtype: int64
['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'TOBS', 'TAVG', 'WESD', 'AWND', 'WSF5', 'WDF2', 'WSF2', 'WDF5', 'FMTM', 'PGTM', 'WT01', 'WT03', 'EVAP', 'WT13', 'WDMV', 'WT16', 'TSUN', 'MNPN', 'MXPN', 'SX02', 'SN02', 'WESF', 'SN32', 'SX32', 'WT08', 'WT18', 'WT02', 'SX03', 'SN03', 'SN52', 'SX52', 'SN01', 'SX01', 'WT11', 'WT04', 'WT06', 'WT05', 'MDPR', 'DAPR', 'SX12', 'SN12', 'WT22', 'SN31', 'SX31']

In [ ]:
ElementList = [
  # "PRCP",  # Precipitation (tenths of mm)
  # "WT03",  # Thunder
  "WT16",  # Rain (may include freezing rain, drizzle, and freezing drizzle)

  # "SNOW",  # Snowfall (mm)
  # "SNWD",  # Snow depth (mm)
  # "WESD",  # Water equivalent of snow on the ground (tenths of mm)
  # 'WESF',  # Water equivalent of snowfall (tenths of mm)
  "WT01",  # Fog, ice fog, or freezing fog (may include heavy fog)
  "WT04",  # Ice pellets, sleet, snow pellets, or small hail"
  "WT18",  # Snow, snow pellets, snow grains, or ice crystals
  'WT22',  # Ice fog or freezing fog
  "WT09",  # Blowing or drifting snow
  
  "TMAX",  # Maximum temperature (tenths of degrees C)
  "TMIN",  # Minimum temperature (tenths of degrees C)
  "TAVG",  # Average temperature (tenths of degrees C)

  "TSUN",  # Daily total sunshine (minutes)

  "AWND",  # Average daily wind speed (tenths of meters per second)
  # "WDF2",  # Direction of fastest 2-minute wind (degrees)
  # "WDF5",  # Direction of fastest 5-second wind (degrees)
  # "WSF2",  # Fastest 2-minute wind speed (tenths of meters per second)
  # "WSF5",  # Fastest 5-second wind speed (tenths of meters per second)
  # "FMTM",  # Time of fastest mile or fastest 1-minute wind (hours and minutes, i.e., HHMM)
  "PGTM",  # Peak gust time (hours and minutes, i.e., HHMM)
  # "WDMV",  # 24-hour wind movement (km)
  'WT11',  # High or damaging winds
  # "WT06",  # Glaze or rime
  # "WT08",  # Smoke or haze
  # "WT05",  # Hail (may include small hail)
  # "WT02",  # Heavy fog or heaving freezing fog (not always distinguished from fog)
  # "WT13",  # Mist
  ]

# save Stations_df to a csv file called Us_Stations.csv
stations_df.to_csv("Us_Stations.csv", index=False)
# filter weather_df to only include rows where Element in ElementList
weather_df = weather_df[weather_df['Element'].isin(ElementList)]
# count rows in weather_df
print(weather_df.shape[0])
# unpack weather_df Element in to seperate columns with value eq to DataValue where Element = TMAX, grouped by Station_Id and Date
weather_up_df = weather_df.pivot_table(index=["Station_ID", "Date"],
                     columns="Element",
                     values="DataValue",
                     aggfunc='first').reset_index()

# Ensure a column exists for each value in ElementList
for element in ElementList:
  if element not in weather_up_df.columns:
    weather_up_df[element] = None
# count rows of weather_df
print(weather_up_df.shape[0])
# save weather_df to a csv file called Us_Weather_Unpacked.zip
weather_up_df.to_csv("Us_Weather_Unpacked.zip", index=False, compression='zip')

6952464
2684235

In [19]:
weather_up_df[weather_up_df["Station_ID"] == "USW00094173"].head(100)

Element,Station_ID,Date,AWND,PGTM,TAVG,TMAX,TMIN,TSUN,WT01,WT04,WT09,WT11,WT16,WT18,WT22
2649726,USW00094173,20000101,5.0,1449.0,-78.0,-44.0,-117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649727,USW00094173,20000102,11.0,1516.0,-150.0,-89.0,-211.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649728,USW00094173,20000103,7.0,1312.0,-156.0,-106.0,-206.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649729,USW00094173,20000104,5.0,2109.0,-111.0,-67.0,-156.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649730,USW00094173,20000105,19.0,1526.0,-117.0,-72.0,-167.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649821,USW00094173,20000405,38.0,1606.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649822,USW00094173,20000713,NaN,1448.0,183.0,261.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649823,USW00094173,20000714,17.0,1830.0,161.0,278.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649824,USW00094173,20000715,21.0,1551.0,150.0,261.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649825,USW00094173,20000716,15.0,1241.0,172.0,256.0,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# weather_df.head(100)
weather_df[weather_df["Element"] == "WT01"].head(100)

        Station_ID      Date Element  DataValue CountryCode
25392  USW00094185  20000101    WT01          1          US
25428  USW00094224  20000101    WT01          1          US
25464  USW00094239  20000101    WT01          1          US
25478  USW00094240  20000101    WT01          1          US
25643  USW00094702  20000101    WT01          1          US
...            ...       ...     ...        ...         ...
31554  USC00166394  20000101    WT01          1          US
31664  USC00162534  20000101    WT01          1          US
31686  USC00162981  20000101    WT01          1          US
31692  USC00163079  20000101    WT01          1          US
31720  USC00163695  20000101    WT01          1          US

[100 rows x 5 columns]

# Section 2

Section 2 content

In [ ]:


ElementList = [
  "WT16",  # Rain (may include freezing rain, drizzle, and freezing drizzle)
  "WT01",  # Fog, ice fog, or freezing fog (may include heavy fog)
  "WT04",  # Ice pellets, sleet, snow pellets, or small hail"
  "WT18",  # Snow, snow pellets, snow grains, or ice crystals
  'WT22',  # Ice fog or freezing fog
  "WT09",  # Blowing or drifting snow
  "TMAX",  # Maximum temperature (tenths of degrees C)
  "TMIN",  # Minimum temperature (tenths of degrees C)
  "TAVG",  # Average temperature (tenths of degrees C)
  "TSUN",  # Daily total sunshine (minutes)
  "AWND",  # Average daily wind speed (tenths of meters per second)
  "PGTM",  # Peak gust time (hours and minutes, i.e., HHMM)
  'WT11',  # High or damaging winds
  ]

weather_df  = pd.DataFrame()
weather_up_df = pd.DataFrame()

# list of files to load
FileToLoad = ["2000.csv.gz",
              "2001.csv.gz",
              # "2002.csv.gz",
              # "2003.csv.gz",
              # "2004.csv.gz",
              # "2005.csv.gz",
              # "2006.csv.gz",
              # "2007.csv.gz",
              # "2008.csv.gz",
              # "2009.csv.gz",
              # "2010.csv.gz",
              # "2011.csv.gz",
              # "2012.csv.gz",
              # "2013.csv.gz",
              # "2014.csv.gz",
              # "2015.csv.gz",
              # "2016.csv.gz",
              ]

# load a file from the list above then process it and append it to weather_df
for file in FileToLoad:
    # add filename to path "Not_to_be_shared_to_repo/"
    filepath = os.path.join("Not_to_be_shared_to_repo", file)
    # setup df
    weather_df  = pd.DataFrame()
    weather_up_df = pd.DataFrame()
    # Print filepath
    print(filepath)
    # load the file
    weather_df = pd.read_csv(filepath, header=None)
    # Name columns
    weather_df.columns = ["Station_ID", "Date", "Element", "DataValue", "MFlag", "QFlag", "SFlag", "ObsTime"]
    # Extract Country Code
    weather_df['CountryCode'] = weather_df['Station_ID'].str[:2]
    # Drop unneccesary columns
    weather_df.drop(["MFlag", "QFlag", "SFlag", "ObsTime"], axis=1, inplace=True)
    # Deduplicate weather_df
    weather_df = weather_df.drop_duplicates(subset=["Station_ID", "Element", "Date"], keep='first')
    # filter weather_df to only include rows where CountryCode ="US"
    weather_df = weather_df[weather_df['CountryCode']=="US"]
    # filter weather_df to only include rows where Element in ElementList
    weather_df = weather_df[weather_df['Element'].isin(ElementList)]
    # unpack weather_df Element in to seperate columns with value eq to DataValue where Element = TMAX, grouped by Station and Date
    weather_df = weather_df.pivot_table(index=["Station_ID", "Date"],
                                        columns="Element",
                                        values="DataValue",
                                        aggfunc='first').reset_index()
    # print the shape of weather_df
    print(weather_df.shape)
    # add filename to path "Not_to_be_shared_to_repo/"
    filename = f"Us_{file}_Weather_Unpacked.zip"
    filepath = os.path.join("Not_to_be_shared_to_repo", filename)
    # implement save append to csv file
    weather_df.to_csv(filepath, index=True, mode='a', header=True, compression='zip')
    # drop weather_df and weather_up_df
    del weather_df
    # print file name

Not_to_be_shared_to_repo\2000.csv.gz
(2684235, 15)
Not_to_be_shared_to_repo\2001.csv.gz
(2740796, 15)

In [ ]:
FileToLoad = ["Us_2000.csv.gz_Weather_Unpacked.zip",
              "Us_2001.csv.gz_Weather_Unpacked.zip",
              "Us_2002.csv.gz_Weather_Unpacked.zip",
              "Us_2003.csv.gz_Weather_Unpacked.zip",
              "Us_2004.csv.gz_Weather_Unpacked.zip",
              "Us_2005.csv.gz_Weather_Unpacked.zip",
              "Us_2006.csv.gz_Weather_Unpacked.zip",
              "Us_2007.csv.gz_Weather_Unpacked.zip",
              "Us_2008.csv.gz_Weather_Unpacked.zip",
              "Us_2009.csv.gz_Weather_Unpacked.zip",
              "Us_2010.csv.gz_Weather_Unpacked.zip",
              "Us_2011.csv.gz_Weather_Unpacked.zip",
              "Us_2012.csv.gz_Weather_Unpacked.zip",
              "Us_2013.csv.gz_Weather_Unpacked.zip",
              "Us_2014.csv.gz_Weather_Unpacked.zip",
              "Us_2015.csv.gz_Weather_Unpacked.zip",
              "Us_2016.csv.gz_Weather_Unpacked.zip",
              ]

weather_df = pd.DataFrame()
weather_up_df = pd.DataFrame()

# load file from list and append to weather_final_df
for file in FileToLoad:
    # set path for fileload
    loadfile = "Not_to_be_shared_to_repo/"
    filepath = os.path.join(loadfile, file)
    # load file
    weather_df = pd.read_csv(filepath)
    # append to weather_final_df
    weather_up_df = pd.concat([weather_up_df, weather_df], ignore_index=True)
    # print file name
    print(file)
    # print shape of weather_final_df
    print(weather_up_df.shape)
    # drop weather_df

# save weather_final_df to a csv file called Us_Weather_Final.csv
weather_up_df.to_csv("Not_to_be_shared_to_repo/Us_Weather_Final.zip", index=True, header=True, compression='zip')

Us_2000.csv.gz_Weather_Unpacked.zip
(2684235, 16)
Us_2001.csv.gz_Weather_Unpacked.zip
(5425031, 16)
Us_2002.csv.gz_Weather_Unpacked.zip
(8251463, 16)
Us_2003.csv.gz_Weather_Unpacked.zip
(11183223, 16)
Us_2004.csv.gz_Weather_Unpacked.zip
(14152093, 16)
Us_2005.csv.gz_Weather_Unpacked.zip
(17126770, 16)
Us_2006.csv.gz_Weather_Unpacked.zip
(20123474, 16)
Us_2007.csv.gz_Weather_Unpacked.zip
(23142151, 16)
Us_2008.csv.gz_Weather_Unpacked.zip
(26149500, 16)
Us_2009.csv.gz_Weather_Unpacked.zip
(29169473, 16)
Us_2010.csv.gz_Weather_Unpacked.zip
(32222547, 16)
Us_2011.csv.gz_Weather_Unpacked.zip
(35358029, 16)
Us_2012.csv.gz_Weather_Unpacked.zip
(38472487, 16)
Us_2013.csv.gz_Weather_Unpacked.zip
(41478627, 16)
Us_2014.csv.gz_Weather_Unpacked.zip
(44432646, 16)
Us_2015.csv.gz_Weather_Unpacked.zip
(47340127, 16)
Us_2016.csv.gz_Weather_Unpacked.zip
(50226757, 16)

---